@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: "Mulish";
  }

  /* .sidebarLayout {
    min-width: 300px;
    max-width: 400px;
  } */
  .user-select-none {
    user-select: none;
  }
  .calendar-container .react-datepicker {
    width: 100%;
    border: none;
    font-family: inherit;
  }
  .calendar-container .react-datepicker__month-container {
    width: 100%;
  }
  .calendar-container .react-datepicker__day {
    width: 2rem;
    line-height: 1rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
  }
  .calendar-container .react-datepicker__day:hover {
    background-color: #e5edff;
  }
  .calendar-container .react-datepicker__day--selected {
    background-color: #3b82f6;
    color: white;
  }
  .calendar-container .react-datepicker__header {
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
  }
  @media (max-width: 640px) {
    .calendar-container .react-datepicker__day {
      width: 1.5rem;
      margin: 0.1rem;
    }
  }


}